# Virtual environment
venv/

# Uploads — temp images
uploads/

app/models/*.pt
app/models/*.pth

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db